<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Digital Curriculum Vitae - Richard Carpenter - HV-Designs.co.uk</title>
<link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />   

</head>
<body>

<div id="container">

<div id="frame-top">
<img src="images/frame_top.png" alt="Curriculum Vitae" />
</div><!--FRAME TOP ENDS-->

<div id="frame-middle">

<div id="page">

<h1><a href="#"><img src="images/title.png" alt="Richard Carpenter CV" /></a></h1>

<ul class="right-nav">
<li class="save"><a href="#" title="Save">Save</a></li>
<li class="print"><a href="#" title="Print">Print</a></li>
<li class="contact"><a href="#" title="Contact">Contact</a></li>
</ul>

<p class="job-title">Web Designer / Developer</p>

<p class="intro">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla. Aenean eget elit in erat blandit aliquet in et lectus. Praesent vitae arcu elit, id egestas felis. Mauris rhoncus leo at mi pulvinar at dapibus turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

<div class="divider"></div>

<h2>Technical Skills</h2>

<ul class="details">
<li>
<h3>XHTML & CSS    -    <span class="color2">4 Years, Intermediate to Advanced</span></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla. Aenean eget elit in erat blandit aliquet in et lectus. Praesent vitae arcu elit, id egestas felis.</p>
</li>

<li>
<h3>Adobe Photoshop    -    <span class="color2">8 Years, Advanced</span></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla. Aenean eget elit in erat blandit aliquet in et lectus. Praesent vitae arcu elit, id egestas felis.</p>
</li>

<li>
<h3>jQuery     -    <span class="color2">2 Years, Beginner to Intermediate</span></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla.</p>
</li>
</ul>

<h2>Work Experience</h2>

<ul class="details">
<li>
<h3>Front End Developer    -    <span class="color2">HV-Designs, Full Time    -    2004 - Present</span></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla.</p>
</li>

<li>
<h3>Graphic Designer    -    <span class="color2">Company, Part Time    -    2003 - 2004</span></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla. Aenean eget elit in erat blandit aliquet in et lectus. Praesent vitae arcu elit, id egestas felis.</p>
</li>

<li>
<h3>Wordpress Developer     -    <span class="color2">Company, Part Time    -    2002 - 2003</span></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla.</p>
</li>
</ul>

<h2>Education</h2>

<ul class="details">
<li>
<h3>HV-Designs, School of Photoshop</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla.</p>
</li>

<li>
<h3>HV-Designs University of Photoshop</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla. Aenean eget elit in erat blandit aliquet in et lectus. Praesent vitae arcu elit, id egestas felis.</p>
</li>

<li>
<h3>Birmingham’s Institute of Technology & Design</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere malesuada ultrices. Curabitur posuere justo ac eros malesuada quis sollicitudin magna porttitor. Nunc ut fermentum nulla.</p>
</li>
</ul>

<h2>My Social Network</h2>

<ul class="social">
<li><a href="#"><img src="images/social1.png" alt="Social #1" /></a></li>
<li><a href="#"><img src="images/social2.png" alt="Social #2" /></a></li>
<li><a href="#"><img src="images/social3.png" alt="Social #3" /></a></li>
<li><a href="#"><img src="images/social4.png" alt="Social #4" /></a></li>
<li><a href="#"><img src="images/social5.png" alt="Social #5" /></a></li>
<li><a href="#"><img src="images/social6.png" alt="Social #6" /></a></li>
<li><a href="#"><img src="images/social7.png" alt="Social #7" /></a></li>
<li><a href="#"><img src="images/social8.png" alt="Social #8" /></a></li>
<li><a href="#"><img src="images/social9.png" alt="Social #9" /></a></li>
</ul>

</div><!--PAGE ENDS-->

</div><!--FRAME MIDDLE ENDS-->

<div id="frame-btm">
<img src="images/frame_btm.png" alt="Curriculum Vitae" />
</div><!--FRAME BOTTOM ENDS-->

</div><!--CONTAINER ENDS-->

</body>
</html>
